.comments-section {
  max-width: 1200px;
}
.comments-section__header {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;
}

.comment-card {
  display: grid;
  grid-template-areas:
    "author vote time"
    "body body body"
    "delete delete delete";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem 1rem;
  margin-top: 2rem;
}

.comment-card__author {
  grid-area: author;
  font-weight: bold;
}

.comment-card__vote {
  grid-area: vote;
}

.comment-card__time {
  grid-area: time;
  justify-self: end;
  font-size: 0.875rem;
  color: #666;
}

.comment-card__body {
  grid-area: body;
  margin: 0;
}

.comment-card__delete {
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
}

.delete__btn {
  grid-area: delete;
  justify-self: start;
  border: 1px solid rgb(255, 123, 123);
  background-color: rgb(255, 123, 123);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.delete__btn:hover {
  background-color: #ff0000;
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.comment-form__textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  resize: vertical;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comment-form__textarea--disabled {
  background-color: #f2f2f2;
  color: #888;
  cursor: not-allowed;
}

.comment-form__btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #999999;
  border-radius: 8px;
  border: 1px solid rgb(194, 194, 194);
  cursor: pointer;
}

.comment-form__btn:hover {
  background-color: #585858;
}

.loadmore {
  display: flex;
  justify-content: center;
}

.loadmore button {
  margin-top: 5px;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  color: white;
  background-color: #999999;
  border-radius: 8px;
  border: 1px solid rgb(194, 194, 194);
  cursor: pointer;
}

.loadmore button:hover {
  background-color: #585858;
}
