.article-card {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "topic topic"
    "image title"
    "image author"
    "image votes"
    "image comments";
  gap: 0.5rem 1.5rem;
  background: #fff;
  /* padding: 1.5rem; */
  max-width: 1200px;
  align-items: start;
}

.article-card__image {
  grid-area: image;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.article-card__title {
  grid-area: title;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: bold;
  margin: 0;
}

.article-card__topic {
  grid-area: topic;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: lighter;
  margin: 0;
}

.article-card__author {
  grid-area: author;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  color: #666;
  margin: 0;
}

.article-card__votes {
  grid-area: votes;
  font-size: clamp(0.875rem, 1.2vw, 1rem);
  color: #999;
  margin: 0;
}

.article-card__comments {
  grid-area: comments;
  font-size: clamp(0.875rem, 1.2vw, 1rem);
  color: #999;
  margin: 0;
}

@media (max-width: 700px) {
  .article-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .article-card__topic {
    order: -1;
    margin-bottom: 0.5rem;
  }

  .article-card__image,
  .article-card__title,
  .article-card__author,
  .article-card__votes,
  .article-card__comments {
    max-width: 100%;
    margin: 0.25rem 0;
  }
}

@media (max-width: 768px) {
  .article-card__title {
    font-size: 1.25rem;
  }

  .article-card__author,
  .article-card__votes,
  .article-card__comments {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .article-card__title {
    font-size: 1rem;
  }
  .article-card__author,
  .article-card__votes,
  .article-card__comments {
    font-size: 0.75rem;
  }
}

.article-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
}

.article-filters select {
  padding: 0.5rem 1rem;
  font-size: clamp(0.9rem, 2vw, 1rem);
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #333;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.page-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.page-buttons button {
  background-color: #bebebe;
  color: #000000;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.page-buttons button:hover {
  background-color: #d0d0d0;
}

.page-buttons button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
