.vote-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.vote-section button {
  background: none;
  border: none;
  font-size: 0.75rem;
  cursor: pointer;
}

.vote-section__count {
  min-width: 100px;
  text-align: center;
  font-weight: bold;
}
