.vote-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
}

.vote-section span {
  font-weight: bold;
}

.vote-section button {
  background-color: #ffffff;
  border: none;
}

.vote-section button:hover {
  background-color: gray;
}
