ol {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

li {
  text-align: center;
  padding: 1rem;
  margin-bottom: 5px;
  border: 1px solid gray;
}

p {
  text-align: center;
}

.page-buttons {
  text-align: center;
}

.article {
  text-align: center;
}
